<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="gatewayUrl" value="http://localhost:9015/"/>
    <add key="stepCount" value="3" />
    <add key="acquireInterval" value="10" />
    <add key="renewInterval" value="10" />
    <add key="leaseInterval" value="30" />
    <add key="downInterval" value="45" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>